<%= form_tag search_path  %>
<%= select_tag "Category", options_from_collection_for_select(@merchandise_categories, :id, :name) %>
<%= submit_tag "Filter" %>



<% @merchandises.each do |merch| %>
<p><%= link_to merch.title, merchandise_path(merch)%></p>
<p><%= merch.price %></p>
<p><%= merch.description %></p>
<%= link_to merch.creator_name, creator_path(merch.creator)%>
<% if current_user %>
<%= button_to "Buy", new_merchandise_sale_path(merch), method: "get"%>
<% end %>
<% end %>