<%= @merchandise.title %>
<p><%= link_to @merchandise.creator_name, creator_path(@merchandise.creator)%></p>
<p>Price: <%= @merchandise.price %></p>

<% if params[:creator_id] == session[:creator_id] %>
    <%= button_to "Edit Item", edit_merchandise_path(@merchandise), method: "get" %>
    <%= button_to "Delete Item", "Merchandises#delete", method: "get" %>
<% end %>

<% if current_user.merchandises.include?(@merchandise) %>
    <%= form_for @review do |f| %>
    <h5>Write A Review</h5>
    <%= f.text_field :title %><br>
    <%= f.text_area :body %><br>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit %>
    <% end %>
<% end %>

