<%= render partial: "errors" %>
<h3><%= link_to('Log in with Facebook!', '/auth/facebook') %></h3>
<h2>OR</h2><br>
<%= form_tag "/sessions" %>
<%= text_field_tag :username, placeholder: Username %><br>
Email<%= text_field_tag :email, placeholder: Email %><br>
Pasword<%= password_field_tag :password, placeholder: Password %><br>
User<%= radio_button_tag 'u_c', 'u'%><br>
Creator<%= radio_button_tag 'u_c', 'c'%><br>
<%= submit_tag "LogIn" %>

