<%= form_with model: model, local: :true do |f|  %>
    <p>Username
    <%= f.text_field :username %></p>
    <p>Email
    <%= f.text_field :email %></p>
    <p>Password
    <%= f.password_field :password %></p>
    About Me:<%= f.text_field :about %>
    <p>location
    <%= f.text_field :location %></p>
    <%= f.submit button %></p>
<% end %>

