<%= form_with model: @creator do |f|%>
<%= render partial:"form" , locals: {f: f} %>
About Me:<%= f.text_field :about %>
<%= f.text_field :location %>
<p>Set a PromoCode for users to get a discount! 
Only you can see your promo code.</p>
<%= f.text_field :promo_code %>
Discount (%)<%= f.text_field :promo_discount %>
<%= f.submit "Edit Info" %>
<% end %>

