<% if @creator.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@creator.errors.count, "error") %>
      prohibited this creator from being saved:
    </h2>
 
    <ul>
    <% @creator.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: @creator do |f|%>
<%= render partial:"form" , locals: {f: f} %>
About Me:<%= f.text_field :about %>
<%= f.text_field :location %>
<p>Set a PromoCode for users to get a discount! 
Only you can see your promo code.</p>
<%= f.text_field :promo_code %>
Discount (%)<%= f.text_field :promo_discount %>
<%= f.submit "Edit Info" %>
<% end %>

