
<% if @creator.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@creators.errors.count, "error") %>
      prohibited this creator from being saved:
    </h2>
 
    <ul>
    <% @creator.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: @creator, locals: :true do |f|%>
<p>Username
<%= f.text_field :username %></p>
Email
<%= f.text_field :email %></p>
<p>Password
<%= f.text_field :password %></p>
<p>About
<%= f.text_field :about %></p>
<p><%= f.submit "Create Account" %></p>
<% end%>