<h1>New Sale</h1>
<% if @sale.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@sale.errors.count, "error") %>
      prohibited this sale from being saved:
    </h2>
 
    <ul>
    <% @sale.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<p><%= @merchandise.title %> <>
<%= @merchandise.price %></p>
<%= form_for @sale do |f|%>
<%# <%= f.hidden_field :user_id, value: current_user.id %>
<%= f.hidden_field :merchandise_id, value: params[:merchandise_id] %>
Tip Amount(optional)<%= f.text_field :tip %>
<p>Please Enter Your Shipping Address:</p>
<p><%= f.text_field :shipping_address %></p>
<p><%= f.submit "Place Order" %></p>
<% end %>

