<!DOCTYPE html>
<html>
  <head>
    <title>CreatedToSell</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<h1 class="head">CreatedToSell</h1>
<div class=container>
  <div class="row">
    <div class="col-2">
      <%=link_to "LogIn", login_path%>
    </div>
    <div class="col-4">
      <%= link_to "User Signup", new_user_path %>
    </div>
    <div class="col-6">
      <%= link_to "Creator Signup", new_creator_path %>
    </div>
  </div>
  ----------------------------------------------
</div>




      
    <%= yield %>
  </body>
</html>
